/*全局样式表*/
html, body, #app {
    height: 100%;
    color: #222222;
    /* 设置屏幕最小宽度为1366，不足1366则调出横向滑动条来显示 */
    /*min-width: 1080px;*/
    min-width: 1366px;
    /*min-width: 100%;*/
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    /* 设置卡片向外扩散的阴影，!important用于覆盖原有样式 */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}

/* 解决级联选择器高度溢出问题 */
.el-cascader-menu {
    height: 300px;
}
